<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="mahjong.riichi"
      android:versionCode="1" android:versionName="0.2.1">
<supports-screens android:normalScreens="true" android:largeScreens="true" android:smallScreens="false" android:anyDensity="true"></supports-screens>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>


    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="false" android:persistent="false">
        <activity android:name=".StartHere"
                  android:label="@string/app_name"
                  android:configChanges="orientation|keyboardHidden" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Settings" 
                android:label="@string/settings_title">
		</activity>
        <activity android:name="StatScreen" android:label="@string/stats_title"></activity>
        <activity android:label="@string/app_name" android:name="ChangeLogScreen"></activity>
        <activity android:label="@string/app_name" android:name="BrowserScreen"></activity>

    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="7"></uses-sdk>
</manifest>
